/**********************************************/
/* LeanBack Player | HTML5 Video Player       */
/* Release: 0.1.0 - LocalStorage Extension    */
/**********************************************/
/****************************/
/* Media Information Content */
.localStorage_txt {
	color: #fff; height: 100%; font-size: 10px !important; font-family: arial, helvetica, sans-serif !important;
}
.localStorage_txt div span.info_txt {
	padding-bottom: 3px; display: block;
}
.localStorage_txt div {
	margin: 0; padding: 5px 10px 8px; background-color: #323232;
}
.localStorage_txt .chkbx {
	margin: 0; padding: 0; width: 16px; height: 16px; text-align: center; float: left;
	background-color: #e9e9e9; border: 2px solid #A0B832;
	/* Radius */
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
}
.localStorage_txt .unchecked {
	border: 2px solid red;
}
.localStorage_txt input {
	margin: 2px; padding: 0;
}
.localStorage_txt .chkbx_info {
	margin-left: 16px; padding-top: 3px;
}
.localStorage_txt .reset_btn_box {
	margin: 0 0 5px 0; text-align: left; border-top: 1px dotted #7a7a7a;
	/* Radius */
	-webkit-border-bottom-right-radius: 8px; -webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px; -moz-border-radius-bottomleft: 8px;
	border-bottom-right-radius: 8px; border-bottom-left-radius: 8px;
}
.localStorage_txt .reset_btn_box .btn {
	height: 20px; margin: 5px 0; padding: 0 5px 2px;
}
/****************************/