/************************************************/
/* LeanBack Player | HTML5 Video Player 		*/
/* Release: 0.1.0 - InVideo Playlist Extension	*/
/************************************************/
/**************************/
/* VPlaylist Control Item */
.h5_lb_controls div.h5_lb_vplaylist_control {display: block; width: 40px; cursor: pointer;}
/***************************************/
/* VPlaylist Control Item: Inner Items */
.h5_lb_controls div.h5_lb_vplaylist_control > div:first-child { text-align: center !important; padding: 8px 0 0; font: 12px/1.231 arial, helvetica, sans-serif; font-weight: bold; color: #fff; }
.h5_lb_controls div.h5_lb_vplaylist_control div.vplaylist_nav {
	position: absolute !important; padding: 2px 3px 2px !important; display: none; text-align: center;
	/* Background Fallback for web browsers doesn't support RGBa */
	background: rgb(23, 35, 34);
	/* Background RGBa with 0.4 opacity */
	background: rgba(23, 35, 34, 0.4);
	
	/* Radius */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.h5_lb_controls div.h5_lb_vplaylist_control div.vplaylist_nav div.vplaylist_categories{ margin: 4px -2px 2px; padding: 0; width: auto; height: 28px; border-bottom: 1px solid #949494; display: block; }
.h5_lb_controls div.h5_lb_vplaylist_control div.vplaylist_nav div.vplaylist_categories div.vplaylist_category {
	margin: 0 4px; padding: 5px 10px; text-align: center; white-space: pre-wrap; font: 12px/1.231 arial, helvetica, sans-serif; font-weight: bold; float: left; display: block;
	/* Radius */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.h5_lb_controls div.h5_lb_vplaylist_control div.vplaylist_nav div.vplaylist_categories div.vplaylist_category_active {
	color: #000;
	/* Background */
	background: #00adef;
}
.h5_lb_controls div.h5_lb_vplaylist_control div.vplaylist_nav div.vplaylist_category:hover, .h5_lb_controls div.h5_lb_vplaylist_control div.vplaylist_nav div.vplaylist_category_focus {
	color: #000;
	/* Background */
	background: #f1f1f1 !important;
}

.h5_lb_controls div.h5_lb_vplaylist_control div.vplaylist_nav div.vplaylist_items { clear: both; margin: 0; padding: 2px 0; display: block; }

.h5_lb_controls div.h5_lb_vplaylist_control div.vplaylist_nav div.vplaylist_items div.vplaylist_scroll_left, .h5_lb_controls div.h5_lb_vplaylist_control div.vplaylist_nav div.vplaylist_items div.vplaylist_scroll_right {
	position: absolute; bottom: 0; left: 0; width: 25px; height: 25px; padding: 0; margin: 0 0 10px; display: none; z-index: 1006;
	/* Background Fallback for web browsers doesn't support RGBa */
	background: rgb(23, 35, 34);
	/* Background RGBa with 0.8 opacity */
	background: rgba(23, 35, 34, 0.8);
}
.h5_lb_controls div.h5_lb_vplaylist_control div.vplaylist_nav div.vplaylist_items div.vplaylist_scroll_left {
	padding-right: 4px;
	/* Radius */
	-webkit-border-top-right-radius: 4px; -webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px; -moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px; border-bottom-right-radius: 4px;
}
.h5_lb_controls div.h5_lb_vplaylist_control div.vplaylist_nav div.vplaylist_items div.vplaylist_scroll_right {
	left: auto; right: 0px; padding-left: 4px;
	/* Radius */
	-webkit-border-top-left-radius: 4px; -webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px; -moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px; border-bottom-left-radius: 4px;
}
.h5_lb_controls div.h5_lb_vplaylist_control div.vplaylist_nav div.vplaylist_items div.vplaylist_scroll_left div { margin: 6px auto auto; padding: 0; height: 0; width: 0; font-size: 0px; line-height: 0%; width: 0px; border-top: 7px solid transparent; border-bottom: 7px solid transparent; border-right: 14px solid #fff; }
.h5_lb_controls div.h5_lb_vplaylist_control div.vplaylist_nav div.vplaylist_items div.vplaylist_scroll_left:hover div { border-right: 14px solid #00adef; }
.h5_lb_controls div.h5_lb_vplaylist_control div.vplaylist_nav div.vplaylist_items div.vplaylist_scroll_right div { margin: 6px auto auto; padding: 0; height: 0; width: 0; font-size: 0px; line-height: 0%; width: 0px; border-top: 7px solid transparent; border-bottom: 7px solid transparent; border-left: 14px solid #fff; }
.h5_lb_controls div.h5_lb_vplaylist_control div.vplaylist_nav div.vplaylist_items div.vplaylist_scroll_right:hover div { border-left: 14px solid #00adef; }

.h5_lb_controls div.h5_lb_vplaylist_control div.vplaylist_nav div.vplaylist_items div.vplaylist_item { 
	padding: 4px; float: left; display: block;
	/* Radius */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.h5_lb_controls div.h5_lb_vplaylist_control div.vplaylist_nav div.vplaylist_item_active { color: #000; background: #00adef; }
.h5_lb_controls div.h5_lb_vplaylist_control div.vplaylist_nav div.vplaylist_item:hover, .h5_lb_controls div.h5_lb_vplaylist_control div.vplaylist_nav div.vplaylist_item_focus { color: #000; background: #f1f1f1 !important; }

.h5_lb_controls div.h5_lb_vplaylist_control div.vplaylist_nav div.vplaylist_item div.vplaylist_item_title { padding: 11px 0 0; height: 25px; white-space: pre-wrap; word-wrap: break-word; font: 10px/1.231 arial, helvetica, sans-serif; font-weight: bold; }
.h5_lb_controls div.h5_lb_vplaylist_control div.vplaylist_nav div.vplaylist_item div.vplaylist_item_duration { padding: 11px 0 0; font: 10px/1.231 arial, helvetica, sans-serif; }

.h5_lb_controls div.h5_lb_vplaylist_control:hover div.vplaylist_nav, .h5_lb_controls div.h5_lb_vplaylist_control div.vplaylist_nav_focus { padding: 0 1px; display: block; white-space: nowrap; overflow: hidden; z-index: 1005; }
/******************************************/
/* In-video title for video playlist item */
.h5_lb_player .h5_lb_vplaylist_title {
	position: absolute; right: 18%; top: 10px; left: 18%; padding: 5px;
	color: #fff; text-align: center !important;	display: none;
	/* Fallback for web browsers doesn't support RGBa */
	background: rgb(0, 0, 0);
	/* RGBa with 0.2 opacity */
	background: rgba(0, 0, 0, 0.2);
}
.h5_lb_smallscreen  div.h5_lb_vplaylist_title { font: 15px/1.231 arial, helvetica, sans-serif; font-weight: bold; }
.h5_lb_fullscreen  div.h5_lb_vplaylist_title { font: 22px/1.231 arial, helvetica, sans-serif; font-weight: bold; }
/************************************/